{% extends 'base.html' %} {% block title %}Home: {{ username }}{% endblock %} {% block titleHeader %}
<h1>Add a Credit Card:</h1>
{% endblock %} {% block content %}
<form method="POST" action="/add">

    <div class="form-group m-3">
        <label class="h3" for="creditName"><b>Name</b></label>
        <div class="text-left">
            <input class="text-dark p-2 h5 rounded w-100" type="text" placeholder="Enter Your Name" name="creditName" required>
        </div>
        <label class="h3" for="creditCardNum"><b>Credit Card Number</b></label>
        <div class="text-left">
            <input class="text-dark p-2 h5 rounded w-100" type="number" placeholder="Enter Credit Card Number" name="creditCardNum" required>
        </div>
        <label class="h3" for="secCode"><b>Security Code</b></label>
        <div class="text-left">
            <input class="text-dark p-2 h5 rounded w-100" type="number" placeholder="Enter Security Code" name="secCode" required>
        </div>
        <label class="h3" for="expiration"><b>Expiration Date</b></label>
        <div class="text-left">
            <input class="text-dark p-2 h5 rounded w-100" type="text" placeholder="Enter Expiration Date" name="expiration" required>
        </div>
        <div class="text-right">
            <button class="btn btn-primary" type="submit text-right">Add</button>
        </div>

    </div>

</form>

{% endblock %}