<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>

<body class="bg-dark text-white">
    <div class="container">
        <div class="container m-5 text-center">

            {% block titleHeader %} {% endblock %}
            <hr>
            <div class="content m-5 text-left">
                {% block content %} {% endblock %}
            </div>
            <hr>

        </div>
        <footer>

            <p class="text-center">&#169; Real (and Secure) Credit Card Management System</p>

        </footer>
    </div>
</body>

</html>