{% extends 'base.html' %} {% block title %}Home: {{ username }}{% endblock %} {% block titleHeader %}
<h1>Welcome back <span class="text-secondary">{{ firstname }} {{ lastname }} </span></h1>
{% endblock %} {% block content %}
<div class="text-right">
    <form method="POST" action="/addPage">
        <input type="submit" class="btn btn-primary" value="Add Credit Card">
        <button type="button" id="editButton" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Credit Card</button>
    </form>

</div>
<div>
    <h2>Your Credit Cards:</h2>
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Credit Card #</th>

                <th scope="col">Security Code</th>
                <th scope="col">Expiration Date</th>
                <th class="d-none" id="actionHead" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for x in cards %}
            <tr>

                <th>{{ x[3] }}</th>
                <th>{{ x[1] }}</th>
                <th>{{ x[5] }}</th>
                <th>{{ x[4] }}</th>
                <th class="actionCol d-none">
                    <div class="d-flex">
                        <form class="m-1" method="POST" action="/editPage/{{ x[1] }}"><input type="submit" id="edit-{{x[1]}}" class="btn btn-warning" value="Edit"> </form>
                        <form class="m-1" method="POST" action="/delete/{{ x[1] }}"><input type="submit" id="delete-{{ x[1] }}" class="btn btn-danger" value="Delete"></form>

                    </div>
                </th>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}